.App {
    background-image: radial-gradient(circle, #851010 25%, #360406 95%);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
}

.setup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background-color: #2a3d34;
    border-radius: 8px;
}

.setup-box textarea {
    border-radius: 5px;
}

.poker-button {
    color: white;
    background-color: green;
    border-radius: 10px;
    border-style: none;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.poker-button:hover {
    background-color: darkgreen;
}

.board-page {
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Adjust the fr units as needed to control the width of each section */
    grid-template-rows: auto; /* This will make the row height adjust to the content */
  }

.board-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 250px;
    min-width: 40vw;
    min-height: 30vh;
    max-width: 60vw;
    max-height: 50vh;
    background-color: #35654d;
    border-radius: 150px;
    border-style: double;
    border-color: #2a3d34;
    border-width: 7px;
}

.player-section {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.player-section > * {
    margin-bottom: 20px;
}

.player {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player > * {
    margin: 0 5px;
}

.player-info {
    text-align: left;
}

.card {
    height: 60px;
    width: 45px;
    color: black;
    background-color: white;
    border-radius: 5px;
}

.card-rank {
    text-align: left;
    padding-left: 3px;
}

.red-rank {
    color: red;
}

.black-rank {
    color: black;
}

.card-suit {
    height: 25px;
}
